{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
<body>
    <h1>Echo</h1>
    <h2>Talk with friends</h2>
    <div class="box1">
        <form class="form1">
            <p>User Name.</p>
            <input type="text" id="in1">
            <p>Password.</p>
            <input type="password" id="in2">
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
    <script src="../static/js/app.js"></script>
</body>
</html>